body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../Ressources/vr-bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}


.main{
  align-items: center;
}

.main-logo {
    width: 25%;
}

.descriptionsite {
    font-family: Impact, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    -webkit-text-stroke: 0.2px #363636;
    text-shadow: 2px 2px 4px #00000088;
}

/* Grille des cartes */
.cards-container {
  width: min(1200px, calc(100vw - 240px - 80px)); /* -80px = marge “coussin” */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-bottom: 100px;
}

/* Carte avec image à droite */
.card {
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.384); /* fond semi-transparent */
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,.35);
  height: 220px;
  padding: 24px;
}

.card__content {
  position: relative;
  z-index: 1;
  max-width: 60%;
}

.card-link {
  text-decoration: none;
}

.card h2 {
  margin: 0 0 8px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: .1px;
  text-shadow: 1px 1px 3px #000;
}

.card p {
  margin: 0 0 18px;
  line-height: 1.5;
  color: #eee;
  font-size: 18px;
}

.btn {
  display: flex;
  margin-top: 10vh;
  padding: 10px 16px;
  border-radius: 20px;
  background: #00b8ee;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  transition: transform .1s, background .2s;
}
.btn:hover { background:#058ac0; transform: translateY(-1px); }

/* Image collée à droite */
.card__image {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  max-height: 1000px;      /* ajuste selon tes visuels */
  object-fit: contain;
  pointer-events: none;   /* clics ne captent pas l’image */
  user-select: none;
  opacity: 1;
  filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.4));
}

#NotebookImage {
    height: 70%;
    margin-bottom: 30px;
}

#KidouImage {
    height: 80%;
    margin-bottom: 20px;
}    

#destinImage {
    height: 95%;
}

/* Hover léger */
.card:hover { transform: translateY(-3px); transition: transform .2s; }