/* SIDEBAR */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans",Arial, Helvetica, sans-serif;
    user-select: none;
}

.site{
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}

@media screen and (min-width:1528px){
    .main, .footer{
      margin-left: 12.5vw;
    }
}


.sidebar {
    background: linear-gradient(130deg, #7dccf3 0%, #00b8ee 36%, #004db6 70%, #18008f 100%);
    width: 12.5vw;
    height: 100vh;
    position: fixed;
    top : 0;
    left: 0;
    overflow-y: auto;
}

@media screen and (max-width: 1528px) {
  .sidebar {
    position: fixed;
    top: 0;
    right: 100%;
    width: 100vw;
    z-index: 1000;
  }
  .sidebar.active {
    right: 0;
    width: 0;
    transition: right 0.3s ease;
  }
}

.sidebar .menu{
  width: 100%;
  margin-top: 40px;
  text-align: left;
}

@media screen and (max-width: 1528px) {
  .sidebar .menu{
    align-items: center;
    text-align: left;
  }
}


.sidebar .menu .item{
  position: relative;
  cursor: pointer;
}

.sidebar .menu .item a{
  color: #fff;
  font-size: 16px;
  font-family: "noto sans", Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}

@media screen and (max-width: 1528px) {
  .sidebar .menu .item a{
    text-align: left;
    padding: 20px 5px;
    font-size: 2vh;
    line-height: 0px;
  }
  
}

.sidebar .menu .item a:hover{
  background: #0091bd;
  transition: 0.3s ease;
}

.sidebar-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-drag: none;
}

@media screen and (max-width: 1528px) {
  .sidebar-logo .logo {
    width: 40%;
  }
}

.redirect-image{
    width: 35px;
    height: 35px;
    object-fit: contain;
    vertical-align: middle;
    margin-right: 15px;
}

@media screen and (max-width: 1528px) {
  .redirect-image{
    margin-right: 8px;
    width: 5vh;
  }
  
}

.logo {
    width: 70%;
    height: auto;
    margin-bottom: 16px;
}

.menu {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:1528px) {
    .hamburger-menu {
        height: 50px;
      width: 50px;
      margin-right: auto;
      position: fixed;
      top: 20px;
      right: calc(1vw + 30px);
      cursor: pointer;
      z-index: 1100;
    }

    .hamburger-menu span{
      height: 5px;
      width: 100%;
      background-color: #fad712;
      border-radius: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: .2s ease;
      
    }
}
    

.hamburger-menu span:nth-child(1){
  top: 25%;
}
.hamburger-menu span:nth-child(3){
  top: 75%;
}

.hamburger-menu.active span:nth-child(1){
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger-menu.active span:nth-child(2){
  opacity: 0%;
}

.hamburger-menu.active span:nth-child(3){
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}


/* FOOTER */

.footer {
    margin-top: auto;
    background: #2e2e2e;
    color: rgb(173, 173, 173);
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

@media screen and (max-width:1200px){
  .footer{
    font-size: 150%;
  }

  .footer p{
    margin-top: 3vh;
    font-size: 75%;
  }
}

.footer a {
    color: rgb(173, 173, 173);
}

footer a:visited {
    color: rgb(173, 173, 173);
    text-decoration: none;
}

.discord-image{
  width: 24px;
  height: 24px;
  object-fit: contain;
  vertical-align: middle;
  margin-right: 4px;
}


/* BREADCRUMBS */

.navigation-path {
  
  font-size: 100%;
}

@media screen and (max-width:1528px) {
  .navigation-path{
    
  }
  
}

.navigation-path a {
  color: #fff;
}

.navigation-path span {
  color: #fff;
}

.navigation-path h1{
  color: #fff;
}

.navigation-path .current {
  color: #fff;
  cursor: default;
}