body {
    margin: 0;
    font-family: noto-sans, sans-serif;
    font-weight: bold;
}

.header {
    background: linear-gradient(90deg, #7dccf3 0%,#00b8ee 36%, #004db6 70%, #18008f) 100%;
    padding: 1rem ;
}

.nav ul{
    display: flex;
    list-style: none;
    justify-content: end;
}

.nav li {
    margin-right: 1.3rem;
    
}

.link {
    text-decoration: none;
    color: aliceblue;
}
